.main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  z-index: 40;
  gap: 5px;
  bottom: 20px;
  left: 20px;
  opacity: 0.5;
}

.main:hover{
  opacity: 1;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card1 {
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 10px ;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0px 0px ;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 10px 10px ;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 45px;
  height: 45px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 10px 0px ;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #62c5f3;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card4:hover .discord {
  fill: white;
}